* {
    box-sizing: border-box;
}

body {
    margin-left: 40px;
    margin-right: 40px;
    background-color: #101010
}

header {
    text-align: center;
    font-size: x-large;
    color: lightskyblue;
}

.red {
    color: red;
}

.highlight {
    color: #36ac0d
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.container2 {
    border-radius: 5px;
    background-color: antiquewhite;
    padding: 20px;
}

.banner {
    width: 100%;
    height: 221px;
    margin: 5px auto;
    overflow: hidden;
}

.movingBanner {
    width: 1450px;
    height: 221px;
    background: url(https://sekijohn10.github.io/cit261/balls.jpg) repeat-x;
    position: relative;
    animation: banner_roll linear 15s infinite;
}

@keyframes banner_roll {
    from {
        right: 0px;
    }

    to {
        right: 221px;
    }
}

button {
    border-radius: 10px;
    padding: 10px 20px;
    background-color: antiquewhite;
}

    button:hover {
        background-color: aqua;
    }

input[type=text] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

a:link, a:visited {
    background-color: cornflowerblue;
    color: gold;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
}

a:hover, a:active {
    background-color: darkblue;
}

.menubar1 {
    padding: 10px;
}

a.hyper1 {
    font-size: 17px;
    background: tan;
    margin-right: 8px;
    margin-bottom: 5px;
    margin-top: 5px;
    text-decoration: none;
    border-radius: 3px;
    padding: 10px 20px;
    color: aliceblue;
    -moz-transition: background 0.5s linear, color 0.5s linear;
    -o-transition: background 0.5s linear, color 0.5s linear;
    -webkit-transition: background 0.5s linear, color 0.5s linear;
    transition: background 0.5s linear, color 0.5s linear;
}

a.hyper2 {
    font-size: 17px;
    margin-right: 8px;
    text-decoration: none;
    margin-bottom: 5px;
    background: #f2b25d;
    border-radius: 3px;
    margin-top: 5px;
    padding: 10px 20px;
    color: #080858;
    -moz-transition: background 0.5s linear, color 0.5s linear;
    -o-transition: background 0.5s linear, color 0.5s linear;
    -webkit-transition: background 0.5s linear, color 0.5s linear;
    transition: background 0.5s linear, color 0.5s linear;
}

ul {
    list-style-type: none;
}

.flipBox {
    width: 240px;
    height: 200px;
    margin: 10px;
    float: left;
}

    .flipBox > .front {
        position: absolute;
        width: 240px;
        height: 200px;
        transform: perspective(600px) rotateX(0deg);
        background: lightskyblue;
        border-radius: 6px;
        backface-visibility: hidden;
        transition: transform .5s linear;
    }

        .flipBox > .front > p {
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

    .flipBox > .frontMobile {
        position: absolute;
        width: 240px;
        height: 200px;
        transform: perspective(600px) rotateX(180deg);
        background: lightskyblue;
        border-radius: 6px;
        backface-visibility: hidden;
        transition: transform .5s linear;
    }

        .flipBox > .frontMobile > p {
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

    .flipBox > .back {
        position: absolute;
        width: 240px;
        height: 200px;
        transform: perspective(600px) rotateX(180deg);
        background: #a30c07;
        color: aliceblue;
        border-radius: 6px;
        backface-visibility: hidden;
        transition: transform .5s linear;
    }

        .flipBox > .back > p {
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

    .flipBox > .backMobile {
        position: absolute;
        width: 240px;
        height: 200px;
        transform: perspective(600px) rotateX(360deg);
        background: #a30c07;
        color: aliceblue;
        border-radius: 6px;
        backface-visibility: hidden;
        transition: transform .5s linear;
    }

        .flipBox > .backMobile > p {
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

    .flipBox:hover > .front {
        transform: perspective(600px) rotateX(180deg);
    }

    .flipBox:hover > .back {
        transform: perspective(600px) rotateX(360deg);
    }

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
    float: left;
    padding: 15px;
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {
        width: 8.33%;
    }

    .col-s-2 {
        width: 16.66%;
    }

    .col-s-3 {
        width: 25%;
    }

    .col-s-4 {
        width: 33.33%;
    }

    .col-s-5 {
        width: 41.66%;
    }

    .col-s-6 {
        width: 50%;
    }

    .col-s-7 {
        width: 58.33%;
    }

    .col-s-8 {
        width: 66.66%;
    }

    .col-s-9 {
        width: 75%;
    }

    .col-s-10 {
        width: 83.33%;
    }

    .col-s-11 {
        width: 91.66%;
    }

    .col-s-12 {
        width: 100%;
    }
}

@media only screen and (min-width: 1000px) {
    .banner {
        width: 1000px;
    }


    @media only screen and (min-width: 1200px) {
        /* For desktop: */
        .col-1 {
            width: 8.33%;
        }

        .col-2 {
            width: 16.66%;
        }

        .col-3 {
            width: 25%;
        }

        .col-4 {
            width: 33.33%;
        }

        .col-5 {
            width: 41.66%;
        }

        .col-6 {
            width: 50%;
        }

        .col-7 {
            width: 58.33%;
        }

        .col-8 {
            width: 66.66%;
        }

        .col-9 {
            width: 75%;
        }

        .col-10 {
            width: 83.33%;
        }

        .col-11 {
            width: 91.66%;
        }

        .col-12 {
            width: 100%;
        }
    }
