* {
    box-sizing: border-box;
}

body
{
}

.transition1 {
    color: blue;
    transition: color 1s;
}

.transition2 {
    color: red;
    transition: color 1s;
}

.animation1 {
    color: green;
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    animation-duration: 4s;
    animation-name: bounce;
    animation-play-state: running;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.animation2 {
    color: brown;
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    animation-duration: 4s;
    animation-name: wiggle;
    animation-play-state: running;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.item1 {
    border-style:solid;
    border-width: 1px;
    border-radius: 5px;
    background-color: #ff0000;
    width: 100px;
    height: 100px;
    color: azure;
    padding: 20px;
    transition: border-radius 2s, background-color 2s, width 2s, height 2s, color 2s;
}

.item1:hover {
    border-radius: 6px;
    background-color: aqua;
    width: 150px;
    height: 150px;
    color: black;
}

.item2 {
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    background-color: #00ff00;
    width: 100px;
    height: 100px;
    color: black;
    padding: 20px;
    animation-duration: 4s;
    animation-name: slidein;
    animation-play-state: paused;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes slidein {
    from {
        margin-left: 0%;
        width: 100px;
        background-color: #00ff00;
    }

    to {
        margin-left: 100%;
        width: 200px;
        background-color: #0000ff;
    }
}

@keyframes bounce {
    0% {
        transform: translateY(-30px);
    }
    10%, 30%, 50%, 70% {
        transform: translateY(0);
    }

    100% {
        color:brown;
        transform: translateY(0);
    }

    20% {
        transform: translateY(-20px);
    }

    40% {
        transform: translateY(-15px);
    } 

    60% {
        transform: translateY(-7px);
    }
}

@keyframes wiggle {
    10% {
        transform: translateX(20px);
    }

    0%, 20%, 40%, 60%, 80% {
        transform: translateX(0);
    }

    100% {
        color: green;
        transform: translateX(0);
    }

    30% {
        transform: translateX(20px);
    }

    50% {
        transform: translateX(15px);
    }

    70% {
        transform: translateX(7px);
    }
}

.item3 {
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    background-color: #0f000f;
    width: 100px;
    height: 100px;
    color: aqua;
    padding: 20px;
    transition: transform 3s, background-color 3s, color 3s, transform-origin 3s;
}

.item3:hover {
    transform:skew(30deg);
    transform-origin:40% 20%;
    background-color:chocolate;
    color:antiquewhite;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
    float: left;
    padding: 15px;
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {
        width: 8.33%;
    }

    .col-s-2 {
        width: 16.66%;
    }

    .col-s-3 {
        width: 25%;
    }

    .col-s-4 {
        width: 33.33%;
    }

    .col-s-5 {
        width: 41.66%;
    }

    .col-s-6 {
        width: 50%;
    }

    .col-s-7 {
        width: 58.33%;
    }

    .col-s-8 {
        width: 66.66%;
    }

    .col-s-9 {
        width: 75%;
    }

    .col-s-10 {
        width: 83.33%;
    }

    .col-s-11 {
        width: 91.66%;
    }

    .col-s-12 {
        width: 100%;
    }
}

@media only screen and (min-width: 1200px) {
    /* For desktop: */
    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }
}